@import "./components/app.less";

@import "./components/nav_panel/nav_panel.less";
@import "./components/nav_panel/nav_button/nav_button.less";

@import "./components/player_bar/player_bar.less";
@import "./components/player_bar/track_info/track_info.less";
@import "./components/player_bar/track_controls/track_controls.less";
@import "./components/player_bar/track_controls/control_button/control_button.less";
@import "./components/player_bar/volume_controls/volume_controls.less";
@import "./components/player_bar/progress_bar/progress_bar.less";

@import "./components/home/home.less";
@import "./components/home/title/title.less";

@import "./components/search/search.less";
@import "./components/search/search_form/search_form.less";
@import "./components/search/search_results/search_results_header.less";
@import "./components/search/search_results/search_results.less";
@import "./components/search/search_results/cells/actions_cell.less";

@import "./components/queue/queue.less";
@import "./components/queue/now_playing_table/now_playing_table.less";
@import "./components/queue/queue_table/cells/actions_cell.less";

@import "./components/shared/tabs/tabs.less";
@import "./components/shared/table_type_picker/table_type_picker.less";
@import "./components/shared/list/list.less";
@import "./components/shared/list/cells/image_cell.less";
@import "./components/shared/gallery/gallery.less";
@import "./components/shared/gallery/components/track_component.less";
@import "./components/shared/gallery/components/artist_component.less";

@import "./components/material/mat_button/mat_button.less";
@import "./components/material/mat_chip/mat_chip.less";
@import "./components/material/mat_slider/mat_slider.less";
@import "./components/material/mat_tabs/mat_tabs.less";
@import "./components/material/mat_nav_bar/mat_nav_bar.less";
@import "./components/material/mat_spinner/mat_spinner.less";
@import "./components/material/flex_table/flex_table.less";
@import "./components/material/flex_gallery/flex_gallery.less";

html, body, input, div, button, form, span, audio, circle, svg, i {
  font-family: Arial;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
}
