@import "./components/app.less";
@import "./components/search_bar/search_bar.less";

html, body, input, div, button, form, span {
  font-family: Arial;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
