.om-title {
  @image-size: @grid * 10;
  @title-font-size: @grid * 8;

  display: flex;
  align-items: center;

  img {
    width: @image-size;
    height: @image-size;
    margin-right: @grid * 2;
  }

  span {
    font-size: @title-font-size;
    color: @orange;
  }
}
