.om-tabs {
  .tab {
    color: @blue-700;

    .font-headline();

    &.selected {
      color: @orange-700;
    }

    &:hover {
      color: @blue-600;

      &.selected {
        color: @orange-600;
      }
    }
  }

  .underline {
    background-color: @orange-700;
  }
}
