@om-list-imgae-size: @grid * 8;
@om-list-margin-right: @grid * 2;

.om-list {
  .image-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .z-depth(2);

    img {
      width: @om-list-imgae-size;
      height: @om-list-imgae-size;
    }

    &.bordered {
      border: 1px solid @grey-300;
    }
  }
}

.om-list-header {
  .mock-image-cell {
    width: @om-list-imgae-size;
  }
}
