.app {
  display: flex;
}
.app .nav-panel-container {
  flex: 0 0 224px;
}
.app .content-container {
  flex: 1 0 0;
}
.player-container {
  display: flex;
  justify-content: space-around;
}
/* Rules for using icons as black on a light background. */
/* Rules for using icons as white on a dark background. */
body {
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.mat-btn {
  display: inline-flex;
  border-radius: 2px;
}
.mat-btn button {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.mat-btn button:not(.disabled) {
  cursor: pointer;
}
.mat-chip {
  border-radius: 9999px;
  padding: 4px 16px;
}
.mat-slider {
  position: relative;
  height: 16px;
}
.mat-slider:not(.disabled) {
  cursor: pointer;
}
.mat-slider:not(.disabled) .handle {
  cursor: pointer;
}
.mat-slider .bar,
.mat-slider .fill {
  position: absolute;
  top: 6px;
  height: 4px;
  border-radius: 9999px;
}
.mat-slider .bar {
  width: 100%;
}
.mat-slider .handle {
  position: absolute;
  top: 0;
  left: -8px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
.mat-spinner {
  position: relative;
}
.mat-spinner:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.mat-spinner .circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.mat-spinner .circular .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #2196F3;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
.mat-tabs .tab button {
  width: 192px;
  display: inline-flex;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 300;
  text-transform: inherit;
}
.mat-tabs .underline-container {
  position: relative;
  height: 2px;
}
.mat-tabs .underline-container .underline {
  position: absolute;
  top: 0;
  height: 100%;
  width: 192px;
  transition: left 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mat-ripple s {
  background-color: rgba(255, 255, 255, 0.3);
}
.mat-input {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  text-transform: inherit;
}
.mat-input .placeholder-container {
  position: relative;
  height: .75em;
  margin-bottom: .25em;
  font-size: .75em;
}
.mat-input .placeholder-container .placeholder {
  position: absolute;
  top: 1.25em;
  left: 0;
  color: #9E9E9E;
  pointer-events: none;
  transition: top 280ms cubic-bezier(0.4, 0, 0.2, 1), font-size 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mat-input .placeholder-container .placeholder.lifted {
  top: 0;
  font-size: .75em;
}
.mat-input .input-container input {
  width: 100%;
  outline: none;
  border: none;
}
.mat-input .underline {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 8px;
  background-color: #757575;
}
.mat-input .underline div {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 1px;
  transition: width 280ms cubic-bezier(0.4, 0, 0.2, 1), left 280ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #212121;
}
.mat-input .underline.filled div {
  top: -1px;
  left: 0;
  width: 100%;
  height: 2px;
}
.mat-tooltip {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mat-tooltip .tooltip {
  z-index: 999;
  position: absolute;
  bottom: -14px;
  height: 0;
  font-size: 0;
  padding: 0;
  line-height: 22px;
  background-color: #757575;
  opacity: 0;
  color: #FFFFFF;
  border-radius: 2px;
  white-space: nowrap;
  transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1), font-size 280ms cubic-bezier(0.4, 0, 0.2, 1), padding 280ms cubic-bezier(0.4, 0, 0.2, 1), bottom 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mat-tooltip .tooltip div {
  margin-top: -11px;
  transition: margin-top 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mat-tooltip:hover .tooltip {
  bottom: -36px;
  padding: 0 8px;
  height: 22px;
  opacity: 1;
  font-size: 13px;
  font-weight: 400;
  text-transform: inherit;
}
.mat-tooltip:hover .tooltip div {
  margin-top: 0;
}
html,
body,
input,
div,
button,
form,
span,
audio,
circle,
svg,
i {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: inherit;
}
.om-nav-panel {
  position: sticky;
  top: 0;
  z-index: 200;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFB74D;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}
.om-nav-panel .nav-btns {
  padding: 16px;
}
.om-nav-panel .nav-btns .mat-btn {
  margin-bottom: 8px;
}
.om-nav-panel .nav-btns .mat-btn button {
  color: rgba(255, 255, 255, 0.75);
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-nav-panel .nav-btns .mat-btn button.disabled {
  color: #BDBDBD;
}
.om-nav-panel .nav-btns .mat-btn button:hover:not(.disabled) {
  color: #FFFFFF;
}
.om-nav-panel .nav-btns .mat-btn button {
  font-size: 24px;
  font-weight: 300;
  text-transform: inherit;
  font-weight: 400;
}
.om-nav-panel .nav-btns .mat-btn button i {
  font-size: 24px;
}
.om-nav-panel .nav-btns .mat-btn:last-of-type {
  margin-bottom: 0;
}
.om-nav-panel .nav-btns .home-btn {
  margin-left: 12px;
  border-radius: 50%;
}
.om-nav-panel .nav-btns .home-btn button {
  color: #FFFFFF;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-nav-panel .nav-btns .home-btn button.disabled {
  color: #BDBDBD;
}
.om-nav-panel .nav-btns .home-btn button:hover:not(.disabled) {
  color: #FFFFFF;
}
.om-nav-panel .nav-btns .home-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-nav-panel .nav-btns .home-btn button {
  border-radius: 50%;
}
.om-nav-panel .nav-btns .home-btn button {
  width: 48px;
  height: 48px;
}
.om-nav-panel .nav-btns .home-btn button i {
  font-size: 36px;
}
.om-nav-panel .nav-btns .search-btn {
  width: 100%;
}
.om-nav-panel .nav-btns .search-btn .mat-ripple {
  width: 100%;
}
.om-nav-panel .nav-btns .search-btn .mat-ripple button {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.om-nav-panel .nav-btns .divider {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  margin-bottom: 8px;
}
.om-player {
  position: fixed;
  bottom: 16px;
  z-index: 300;
  width: 800px;
  border-radius: 2px;
  transition: bottom 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px;
  background-color: #FFB74D;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}
.om-player .top-bar {
  display: flex;
  align-items: center;
}
.om-player .top-bar .track-info {
  flex: 1 0 0;
}
.om-player .top-bar .track-controls {
  flex: 0 1 0;
}
.om-player .top-bar .volume-controls {
  flex: 1 0 0;
}
.om-player .top-bar .track-info,
.om-player .top-bar .track-controls {
  margin-right: 32px;
}
.om-player .bottom-bar {
  margin-top: 16px;
}
.om-player.hidden {
  opacity: 0;
  bottom: -120px;
}
.om-player .track-info {
  display: flex;
  align-items: flex-end;
}
.om-player .track-info img,
.om-player .track-info .img-placeholder {
  flex: 0 0 64px;
  height: 64px;
  margin-right: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-player .track-info .img-placeholder {
  background-color: #FFFFFF;
}
.om-player .track-info .info-text {
  flex: 1 1 0;
}
.om-player .track-info .info-text .track-name {
  font-size: 15px;
  font-weight: 400;
  text-transform: inherit;
}
.om-player .track-info .info-text .artist-name {
  font-size: 15px;
  font-weight: 300;
  text-transform: inherit;
}
.om-player .track-controls {
  display: flex;
  align-items: center;
}
.om-player .track-controls .mat-btn {
  margin-right: 8px;
  border-radius: 50%;
}
.om-player .track-controls .mat-btn button {
  color: #FFFFFF;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-player .track-controls .mat-btn button.disabled {
  color: rgba(255, 255, 255, 0.3);
}
.om-player .track-controls .mat-btn button:hover:not(.disabled) {
  color: #FFFFFF;
}
.om-player .track-controls .mat-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-player .track-controls .mat-btn button {
  border-radius: 50%;
}
.om-player .track-controls .mat-btn i {
  font-size: 48px;
}
.om-player .track-controls .mat-btn:last-of-type {
  margin-right: 0;
}
.om-player .volume-controls .controls-container {
  display: flex;
  align-items: center;
  padding-right: 48px;
  padding-left: 32px;
}
.om-player .volume-controls .controls-container .mat-btn {
  border-radius: 50%;
}
.om-player .volume-controls .controls-container .mat-btn button {
  color: #FFFFFF;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-player .volume-controls .controls-container .mat-btn button.disabled {
  color: #BDBDBD;
}
.om-player .volume-controls .controls-container .mat-btn button:hover:not(.disabled) {
  color: #FFFFFF;
}
.om-player .volume-controls .controls-container .mat-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-player .volume-controls .controls-container .mat-btn button {
  border-radius: 50%;
}
.om-player .volume-controls .controls-container .mat-btn button {
  width: 48px;
  height: 48px;
}
.om-player .volume-controls .controls-container .mat-btn i {
  font-size: 24px;
}
.om-player .volume-controls .controls-container .mat-slider {
  flex-grow: 1;
  margin-left: 16px;
}
.om-player .volume-controls .controls-container .mat-slider .bar {
  background-color: rgba(255, 255, 255, 0.3);
}
.om-player .volume-controls .controls-container .mat-slider .handle,
.om-player .volume-controls .controls-container .mat-slider .fill {
  background-color: #FFFFFF;
}
.om-player .volume-controls .controls-container .mat-slider.disabled .bar {
  background-color: rgba(255, 255, 255, 0.3);
}
.om-player .volume-controls .controls-container .mat-slider.disabled .handle,
.om-player .volume-controls .controls-container .mat-slider.disabled .fill {
  background-color: rgba(0, 0, 0, 0);
}
.progress-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
.progress-bar .time-label {
  font-size: 15px;
  font-weight: 400;
  text-transform: inherit;
}
.progress-bar .mat-slider {
  flex-grow: 1;
  margin: 0 16px;
}
.progress-bar .mat-slider .bar {
  background-color: rgba(255, 255, 255, 0.3);
}
.progress-bar .mat-slider .handle,
.progress-bar .mat-slider .fill {
  background-color: #FFFFFF;
}
.progress-bar .mat-slider.disabled .bar {
  background-color: rgba(255, 255, 255, 0.3);
}
.progress-bar .mat-slider.disabled .handle,
.progress-bar .mat-slider.disabled .fill {
  background-color: rgba(0, 0, 0, 0);
}
.home .title-container {
  display: flex;
  justify-content: space-around;
}
.home .title-container span {
  color: #FB8C00;
  font-size: 56px;
  font-weight: 300;
  text-transform: inherit;
}
.search .empty-table {
  padding-top: 16px;
  padding-left: 64px;
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  text-transform: inherit;
  font-weight: 300;
}
.search .search-form {
  margin: 0 64px;
}
.search .search-form .mat-input {
  width: 480px;
  max-width: 100%;
  font-size: 34px;
  font-weight: 300;
  text-transform: inherit;
}
.queue .empty-table-msg,
.queue .empty-now-playing-msg {
  display: flex;
  align-items: center;
  height: 36px;
  padding-top: 16px;
  padding-left: 32px;
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  text-transform: inherit;
  font-weight: 300;
}
.queue .empty-table-msg i,
.queue .empty-now-playing-msg i {
  color: #4CAF50;
  font-size: 36px;
}
.queue .now-playing {
  padding-bottom: 8px;
}
.queue .now-playing .label {
  margin-left: 64px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 300;
  text-transform: inherit;
}
.queue .now-playing .om-list-header {
  border-bottom: 1px solid #E0E0E0;
}
.queue .now-playing .empty-msg {
  display: flex;
  align-items: center;
  padding-left: 32px;
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  text-transform: inherit;
  font-weight: 300;
}
.queue .now-playing .empty-msg i {
  color: #2196F3;
  font-size: 36px;
}
.om-table-layout .om-nav-bar {
  padding-top: 16px;
}
.om-table-layout .om-nav-bar .table-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 32px;
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .tab button {
  color: #1E88E5;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .tab button.disabled {
  color: #BDBDBD;
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .tab button:hover:not(.disabled) {
  color: #2196F3;
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .tab.selected button {
  color: #FB8C00;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .tab.selected button.disabled {
  color: #BDBDBD;
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .tab.selected button:hover:not(.disabled) {
  color: #FF9800;
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .underline {
  background-color: #FB8C00;
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .mat-ripple s {
  background-color: rgba(0, 0, 0, 0.12);
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .mat-btn button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.om-table-layout .om-nav-bar .table-controls-container.bordered {
  border-bottom: 1px solid #E0E0E0;
}
.om-table-layout .spinner-container {
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
}
.om-table-layout .player-spacer {
  height: 160px;
}
.om-table-layout .display-type-picker {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.om-table-layout .display-type-picker .mat-btn {
  border-radius: 50%;
}
.om-table-layout .display-type-picker .mat-btn button {
  width: 48px;
  height: 48px;
}
.om-table-layout .display-type-picker .mat-btn i {
  font-size: 36px;
}
.om-table-layout .display-type-picker .mat-btn button {
  color: #1976D2;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-table-layout .display-type-picker .mat-btn button.disabled {
  color: #BDBDBD;
}
.om-table-layout .display-type-picker .mat-btn button:hover:not(.disabled) {
  color: #2196F3;
}
.om-table-layout .display-type-picker .mat-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-table-layout .display-type-picker .mat-btn button {
  border-radius: 50%;
}
.om-table-layout .display-type-picker .mat-btn .mat-ripple s {
  background-color: rgba(0, 0, 0, 0.12);
}
.om-table-layout .display-type-picker .mat-btn.active {
  border-radius: 50%;
}
.om-table-layout .display-type-picker .mat-btn.active button {
  color: #F57C00;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-table-layout .display-type-picker .mat-btn.active button.disabled {
  color: #BDBDBD;
}
.om-table-layout .display-type-picker .mat-btn.active button:hover:not(.disabled) {
  color: #FF9800;
}
.om-table-layout .display-type-picker .mat-btn.active button {
  padding: 0;
  justify-content: space-around;
}
.om-table-layout .display-type-picker .mat-btn.active button {
  border-radius: 50%;
}
.om-table-layout .display-type-picker .mat-btn:last-of-type {
  margin-left: 8px;
}
.om-table-layout .display-type-picker .mat-btn:last-of-type i {
  margin-top: -2px;
}
.om-nav-bar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-nav-bar.scrolled {
  border-bottom: 0;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}
.om-list {
  padding: 0 32px;
}
.om-list .row {
  padding: 8px 0;
  font-size: 15px;
  font-weight: 300;
  text-transform: inherit;
}
.om-list .row:nth-of-type(2n) {
  background-color: #F5F5F5;
}
.om-list-header {
  padding: 0 32px;
}
.om-list-header .row {
  padding: 2px 0;
  font-size: 15px;
  font-weight: 400;
  text-transform: inherit;
}
.flex-table .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-table .row .cell {
  margin: 0 8px;
}
.om-list .image-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-list .image-cell img {
  width: 64px;
  height: 64px;
}
.om-list .image-cell.bordered {
  border: 1px solid #E0E0E0;
}
.om-list-header .mock-image-cell {
  width: 64px;
}
.om-list .actions-cell {
  position: relative;
}
.om-list .actions-cell .action-btns-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.om-list .actions-cell .action-btns-container .mat-btn {
  margin-right: 0;
  transition: margin-right 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-list .actions-cell .action-btns-container .mat-btn button {
  width: 0;
  height: 0;
  transition: width 280ms cubic-bezier(0.4, 0, 0.2, 1), height 280ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}
.om-list .actions-cell .action-btns-container .mat-btn i {
  transition: font-size 280ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 0px;
}
.om-list .actions-cell .action-btns-container .play-btn {
  border-radius: 50%;
}
.om-list .actions-cell .action-btns-container .play-btn button {
  color: #FFFFFF;
  background-color: #1E88E5;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 280ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-list .actions-cell .action-btns-container .play-btn button.disabled {
  color: #BDBDBD;
  background-color: #BDBDBD;
  box-shadow: none;
}
.om-list .actions-cell .action-btns-container .play-btn button:hover:not(.disabled) {
  color: #EEEEEE;
  background-color: #2196F3;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
}
.om-list .actions-cell .action-btns-container .play-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-list .actions-cell .action-btns-container .play-btn button {
  border-radius: 50%;
}
.om-list .actions-cell .action-btns-container .add-to-queue-btn {
  border-radius: 50%;
}
.om-list .actions-cell .action-btns-container .add-to-queue-btn button {
  color: #FFFFFF;
  background-color: #43A047;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 280ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-list .actions-cell .action-btns-container .add-to-queue-btn button.disabled {
  color: #BDBDBD;
  background-color: #BDBDBD;
  box-shadow: none;
}
.om-list .actions-cell .action-btns-container .add-to-queue-btn button:hover:not(.disabled) {
  color: #EEEEEE;
  background-color: #4CAF50;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
}
.om-list .actions-cell .action-btns-container .add-to-queue-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-list .actions-cell .action-btns-container .add-to-queue-btn button {
  border-radius: 50%;
}
.om-list .actions-cell .action-btns-container .remove-from-queue-btn,
.om-list .actions-cell .action-btns-container .remove-from-history-btn {
  border-radius: 50%;
}
.om-list .actions-cell .action-btns-container .remove-from-queue-btn button,
.om-list .actions-cell .action-btns-container .remove-from-history-btn button {
  color: #FFFFFF;
  background-color: #E53935;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 280ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-list .actions-cell .action-btns-container .remove-from-queue-btn button.disabled,
.om-list .actions-cell .action-btns-container .remove-from-history-btn button.disabled {
  color: #BDBDBD;
  background-color: #BDBDBD;
  box-shadow: none;
}
.om-list .actions-cell .action-btns-container .remove-from-queue-btn button:hover:not(.disabled),
.om-list .actions-cell .action-btns-container .remove-from-history-btn button:hover:not(.disabled) {
  color: #EEEEEE;
  background-color: #F44336;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
}
.om-list .actions-cell .action-btns-container .remove-from-queue-btn button,
.om-list .actions-cell .action-btns-container .remove-from-history-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-list .actions-cell .action-btns-container .remove-from-queue-btn button,
.om-list .actions-cell .action-btns-container .remove-from-history-btn button {
  border-radius: 50%;
}
.om-list .actions-cell .action-btns-container .add-to-playlist-btn {
  border-radius: 50%;
}
.om-list .actions-cell .action-btns-container .add-to-playlist-btn button {
  color: #FFFFFF;
  background-color: #FB8C00;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 280ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-list .actions-cell .action-btns-container .add-to-playlist-btn button.disabled {
  color: #BDBDBD;
  background-color: #BDBDBD;
  box-shadow: none;
}
.om-list .actions-cell .action-btns-container .add-to-playlist-btn button:hover:not(.disabled) {
  color: #EEEEEE;
  background-color: #FF9800;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
}
.om-list .actions-cell .action-btns-container .add-to-playlist-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-list .actions-cell .action-btns-container .add-to-playlist-btn button {
  border-radius: 50%;
}
.om-list .row:hover .actions-cell .action-btns-container .mat-btn {
  margin-right: 8px;
}
.om-list .row:hover .actions-cell .action-btns-container .mat-btn button {
  width: 64px;
  height: 64px;
}
.om-list .row:hover .actions-cell .action-btns-container .mat-btn i {
  font-size: 36px;
}
.om-list .row:hover .actions-cell .action-btns-container .mat-btn:last-of-type {
  margin-right: 0;
}
.om-list .artist-link-cell {
  color: #1976D2;
  cursor: pointer;
}
.om-list .artist-link-cell:hover {
  color: #2196F3;
  text-decoration: underline;
}
.om-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0 32px;
  padding-top: 12px;
}
.om-gallery .tile {
  position: relative;
  margin: 4px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-gallery .tile img {
  width: 100%;
  height: 100%;
}
.om-gallery .tile img.bordered {
  border: 1px solid #E0E0E0;
}
.om-gallery .tile .info {
  position: absolute;
  top: 8px;
  left: 8px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  font-weight: 300;
  text-transform: inherit;
}
.om-gallery .tile .info .title,
.om-gallery .tile .info .subtitle {
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-gallery .tile .info .title {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 400;
  text-transform: inherit;
}
.om-gallery .tile .actions-drawer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.63);
  transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: space-around;
}
.om-gallery .tile .actions-drawer .mat-btn {
  margin: 8px 0;
  opacity: 0;
  transition: opacity 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-gallery .tile .actions-drawer .mat-btn button {
  width: 64px;
  height: 64px;
}
.om-gallery .tile .actions-drawer .mat-btn i {
  font-size: 0;
  transition: font-size 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-gallery .tile .actions-drawer .play-btn {
  border-radius: 50%;
}
.om-gallery .tile .actions-drawer .play-btn button {
  color: #1E88E5;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-gallery .tile .actions-drawer .play-btn button.disabled {
  color: #BDBDBD;
}
.om-gallery .tile .actions-drawer .play-btn button:hover:not(.disabled) {
  color: #2196F3;
}
.om-gallery .tile .actions-drawer .play-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-gallery .tile .actions-drawer .play-btn button {
  border-radius: 50%;
}
.om-gallery .tile .actions-drawer .add-to-queue-btn {
  border-radius: 50%;
}
.om-gallery .tile .actions-drawer .add-to-queue-btn button {
  color: #43A047;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-gallery .tile .actions-drawer .add-to-queue-btn button.disabled {
  color: #BDBDBD;
}
.om-gallery .tile .actions-drawer .add-to-queue-btn button:hover:not(.disabled) {
  color: #4CAF50;
}
.om-gallery .tile .actions-drawer .add-to-queue-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-gallery .tile .actions-drawer .add-to-queue-btn button {
  border-radius: 50%;
}
.om-gallery .tile .actions-drawer .add-to-playlist-btn {
  border-radius: 50%;
}
.om-gallery .tile .actions-drawer .add-to-playlist-btn button {
  color: #FB8C00;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-gallery .tile .actions-drawer .add-to-playlist-btn button.disabled {
  color: #BDBDBD;
}
.om-gallery .tile .actions-drawer .add-to-playlist-btn button:hover:not(.disabled) {
  color: #FF9800;
}
.om-gallery .tile .actions-drawer .add-to-playlist-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-gallery .tile .actions-drawer .add-to-playlist-btn button {
  border-radius: 50%;
}
.om-gallery .tile .actions-drawer .remove-from-queue-btn,
.om-gallery .tile .actions-drawer .remove-from-history-btn {
  border-radius: 50%;
}
.om-gallery .tile .actions-drawer .remove-from-queue-btn button,
.om-gallery .tile .actions-drawer .remove-from-history-btn button {
  color: #E53935;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.om-gallery .tile .actions-drawer .remove-from-queue-btn button.disabled,
.om-gallery .tile .actions-drawer .remove-from-history-btn button.disabled {
  color: #BDBDBD;
}
.om-gallery .tile .actions-drawer .remove-from-queue-btn button:hover:not(.disabled),
.om-gallery .tile .actions-drawer .remove-from-history-btn button:hover:not(.disabled) {
  color: #F44336;
}
.om-gallery .tile .actions-drawer .remove-from-queue-btn button,
.om-gallery .tile .actions-drawer .remove-from-history-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-gallery .tile .actions-drawer .remove-from-queue-btn button,
.om-gallery .tile .actions-drawer .remove-from-history-btn button {
  border-radius: 50%;
}
.om-gallery .tile:hover .actions-drawer {
  height: 80px;
}
.om-gallery .tile:hover .actions-drawer .mat-btn {
  opacity: 1;
}
.om-gallery .tile:hover .actions-drawer .mat-btn i {
  font-size: 36px;
}
.om-gallery .artist-link-chip {
  color: #1976D2;
  cursor: pointer;
}
.om-gallery .artist-link-chip:hover {
  color: #2196F3;
  text-decoration: underline;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?a0v6sz');
  src: url('fonts/icomoon.eot?a0v6sz#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?a0v6sz') format('truetype'), url('fonts/icomoon.woff?a0v6sz') format('woff'), url('fonts/icomoon.svg?a0v6sz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-orange-slice:before {
  content: "\e900";
}
