@import '../shared/grid.less';
@import '../shared/color.less';

.player-bar {
  border-top-left-radius: @grid;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: @orange;
  padding: @grid;

  .track-info {
    padding-bottom: @grid;
  }
}
