.search {
  .search-form {
    margin: 0 (@grid * 8);

    .mat-input {
      width: @grid * 60;
      max-width: 100%;

      .font-display-1();
    }
  }

  .empty-table {
    padding-top: @grid * 2;
    padding-left: @grid * 8;
    color: @grey-600;

    .font-title();
    font-weight: 300;
  }
}
