@import '../shared/grid.less';
@import '../shared/color.less';
@import '../shared/button.less';
@import '../shared/shadow.less';

.search-bar {
  display: flex;
  align-items: flex-end;
  width: @grid * 80;

  .orange-image {
    width: @grid * 15;
    height: @grid * 15;
    margin-right: @grid;
  }

  .search-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .orange-music-label {
    font-size: @grid * 3;
    color: @orange-darken-1;
    margin-bottom: @grid / 2;
  }

  .query-input {
    display: flex;

    input {
      flex-grow: 1;
      height: (@grid * 6) - 2 /* account for extra height from border */;
      padding-left: @grid;
      font-size: @grid * 3.5;
      border: 1px solid @grey-lighten-1;
      border-top-left-radius: @grid;
      border-bottom-left-radius: @grid;

      .shadow-1();

      &:focus {
        border: 1px solid @blue-darken-2;
      }
    }

    button {
      width: @grid * 6;
      height: @grid * 6;
      font-size: @grid * 3;

      .btn(@bg-color: @blue-darken-1,
           @bg-color-hover: @blue,
           @color: @white,
           @color-hover: @white);

      // Override default button border radius.
      border-radius: 0;
      border-top-right-radius: @grid;
      border-bottom-right-radius: @grid;
    }
  }
}
