.playlists {
  .new-playlist-btn {
    margin-left: @grid * 8;

    .mat-btn-raised-colorize(
      @color: @white;
      @colorHover: @white;
      @bgColor: @blue-600;
      @bgColorHover: @blue);

    .inner-btn {
      .font-title();
    }
  }
}
