.playlists {
  .new-playlist-btn {
    margin-left: @grid * 8;
    
    color: @white;
    background-color: @color-secondary;

    &:hover {
      background-color: @color-secondary-darken;
    }
  }

  .empty-table-msg {
    height: 36px; // Constant height w/ or w/o icon (consistent w/ other tables).

    padding-top: @grid * 2;
    padding-left: @grid * 4;
    color: @grey-600;

    .font-title();
    font-weight: 300;
  }
}
