@search-bar-height: @grid * 6;

.search-form {
  display: flex;
  justify-content: space-around;
  width: @grid * 80;

  input {
    flex-grow: 1;
    height: @search-bar-height - 2 /* account for extra height from border */;
    padding-left: @grid;
    border: 1px solid @grey-300;
    border-right: 0;
    border-top-left-radius: @grid;
    border-bottom-left-radius: @grid;

    .z-depth(2);

    .title();

    &:focus {
      border: 1px solid @blue-300;
      border-right: 0;
    }
  }

  .mat-btn {
    width: @search-bar-height;
    height: @search-bar-height;
    background-color: @blue-600;
    color: @white;

    // Override default button border radius.
    border-radius: 0;
    border-top-right-radius: @grid;
    border-bottom-right-radius: @grid;

    i {
      position: relative;
      left: -10px;

      .icon-lg();
    }

    &:hover {
      background-color: @blue-500;
    }
  }
}
