.om-table-layout {
  .display-type-picker {
    .mat-btn {
      color: @blue-700;

      i {
        .icon-lg();
      }

      &.active {
        color: @orange-700;
      }

      &:hover {
        color: @blue-600;

        &.active {
          color: @orange-600;
        }
      }
    }
  }
}
