.om-table-layout {
  .display-type-picker {
    display: flex;
    align-items: center;

    .mat-btn {
      .mat-icon-btn-colorize(
        @color: @blue-700;
        @colorHover: @blue);

      i { .font-icon-lg(); }

      &.active {
        .mat-icon-btn-colorize(
          @color: @orange-700;
          @colorHover: @orange);
      }
    }
  }
}
