.om-table-layout {
  .display-type-picker {
    display: flex;
    align-items: center;
    margin-bottom: @grid;

    button {
      color: @color-primary;
      border-radius: 999px;

      &.active { color: @color-secondary; }

      &:hover { background-color: @transparent; }

      i { .font-icon-lg(); }
    }
  }
}
