.mat-picker {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mat-btn {
    margin-bottom: @grid * 2;

    .inner-btn {
      .font-title();
    }
  }

  .mat-btn:last-of-type {
    margin-bottom: 0;
  }
}
