.mat-picker {
  position: relative;

  min-width: @grid * 30;

  overflow-y: scroll;

  .mat-input {
    position: sticky;
    top: 0;
    left: 0;

    background-color: @white;
    z-index: 100;
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mat-btn {
      margin-bottom: @grid * 2;
      border-radius: 0;

      &:hover {
        background-color: @grey-300;
      }

      .inner-btn {
        min-width: @grid * 30;
        border-radius: 0;
        display: inline-block;

        .font-title();
      }
    }

    .mat-btn:last-of-type {
      margin-bottom: 0;
    }
  }
}
