@import '../../player_bar.less';

.control-btn {
  font-size: @control-button-size / 2;
  height: @control-button-size;
  width: @control-button-size;
  color: @white;

  &:not(.disabled):hover {
    color: @grey-lighten-4;
  }
}
