.om-player {
  .track-controls {
    display: flex;
    align-items: center;

    .mat-btn {
      margin-right: @grid;

      .mat-icon-btn-colorize(
        @color: @grey-200;
        @colorHover: @white;
        @colorDisabled: @grey-600);

      i { .font-icon-xlg(); }
    }

    .mat-btn:last-of-type {
      margin-right: 0;
    }
  }
}
