.om-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  .centered {
    display: flex;
    align-items: center;
    flex-direction: column;

    .mat-input {
      width: @grid * 50;
      margin-top: @grid * 2;

      .font-headline();
    }

    .mat-input:first-of-type {
      margin-top: 0;
    }

    .err-msg {
      color: @red;
      width: 100%;
      margin-top: @grid / 2;

      .font-subhead-2();
    }

    .mat-btn {
      margin-top: @grid * 4;

      .mat-ripple s { background-color: rgba(0, 0, 0, 0.12); }

      .inner-btn {
        .font-headline();
      }
    }
  }
}
