.om-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  .title {
    position: absolute;
    top: @grid * 4;
    left: 0;
    width: 100%;
    text-align: center;

    .font-display-1();
  }

  .close-btn {
    position: absolute;
    top: @grid * 2;
    right: @grid * 2;

    .mat-icon-btn-colorize(
      @color: @grey-700;
      @colorHover: @grey-900);

    .inner-btn i {
      .font-icon-lg();
    }
  }

  .centered {
    margin: @grid * 2;

    display: flex;
    align-items: center;
    flex-direction: column;

    .input-field {
      width: @grid * 50;
      margin-top: @grid * 2;

      .font-headline();
    }

    .input-field:first-of-type {
      margin-top: 0;
    }

    .mat-picker {
      max-height: 40vh;
    }

    .err-msg {
      color: @red;
      width: 100%;
      height: 1em;
      margin-top: @grid / 2;

      .font-subhead-2();
    }

    .submit-btn {
      margin-top: @grid * 4;

      .mat-btn-raised-colorize(
        @color: @white;
        @colorHover: @white;
        @bgColor: @blue-600;
        @bgColorHover: @blue);

      button:focus {
        .inner-btn {
          background-color: @blue-700;
        }
      }

      .inner-btn {
        padding: (@grid) (@grid * 2);

        .font-headline();
      }
    }
  }
}
