.om-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  .close-btn {
    position: absolute;
    top: @grid;
    right: @grid;

    .mat-icon-btn-colorize(
      @color: @black;
      @colorHover: @black);

    .inner-btn i {
      .font-icon-lg();
    }
  }

  .centered {
    margin: @grid * 2;

    display: flex;
    align-items: center;
    flex-direction: column;

    .input-field {
      width: @grid * 50;
      margin-top: @grid * 2;

      .font-headline();
    }

    .input-field:first-of-type {
      margin-top: 0;
    }

    .mat-picker {
      min-width: @grid * 30;
      max-height: 55vh;
    }

    .err-msg {
      color: @red;
      width: 100%;
      height: 1em;
      margin-top: @grid / 2;

      .font-subhead-2();
    }

    .submit-btn {
      margin-top: @grid * 4;

      .mat-ripple s { background-color: rgba(0, 0, 0, 0.12); }

      .inner-btn {
        .font-headline();
      }
    }
  }
}
