.om-form {
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  .content {
    padding: (@grid * 6) (@grid * 12);

    display: flex;
    flex-direction: column;
    align-items: center;

    .text-field {
      margin-top: @grid * 2;
      min-width: @grid * 50;

      label {
        color: @grey;

        .font-title();
        font-weight: 300;
      }

      input {
        .font-title();
      }

      div:after {
        background-color: @color-secondary;
      }
      
      &.errors:not(:focus-within) div:after {
        background-color: @red;
      }
    }

    .picker-field {
      min-width: @grid * 30;

      li {
        justify-content: space-around;
      }
    }

    .field-errors {
      color: red;
      height: 1em;

      .font-body-1();
    }

    .submit-btn {
      margin-top: @grid * 4;
      margin-bottom: @grid * 2;

      color: @white;
      background-color: @color-secondary;

      &:hover {
        background-color: @color-secondary-darken;
      }
    }
  }
}
