.om-form {
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  .content {
    padding: @grid * 4;

    display: flex;
    flex-direction: column;
    align-items: center;

    .text-field {
      margin-top: @grid * 2;
      min-width: @grid * 50;
    }

    .submit-btn {
      margin-top: @grid * 2;
    }
  }
}
