.more-btn {
  .btn {
    padding: @grid;
    min-width: 0;

    background-color: @color-secondary;
    border-radius: 50%;

    transform: scale(0);
    transition: transform @time @timing-fcn;

    i {
      color: @white;
      .font-icon-lg();
    }

    // Ripple
    span:last-of-type span {
      background-color: @white;
    }

    &:hover {
      background-color: @color-secondary;
    }
  }

  .more-menu {
    padding: @grid 0;

    display: flex;
    flex-direction: column;
    align-items: strech;

    background-color: @white;
    cursor: default;

    transform: scale(0);
    transition: transform @time @timing-fcn;

    .z-depth(16);

    &.open {
      transform: scale(1);
    }

    .menu-item {
      justify-content: flex-start;
    }
  }
}


