.queue .now-playing {
  padding-bottom: @grid;

  .label {
    margin-left: @grid * 8;
    margin-bottom: @grid * 2;

    .font-headline();
  }

  .om-list-header {
    padding: 0;
    margin: 0 (@grid * 4);
    border-bottom: 1px solid @grey-300;
  }

  .om-list {
    box-shadow: none;
    border-bottom: 1px solid @grey-300;
  }
}
