.queue .now-playing {
  padding-bottom: @grid;

  .label {
    margin-left: @grid * 8;
    margin-bottom: @grid * 2;

    .font-headline();
  }

  .om-list-header {
    border-bottom: 1px solid @grey-300;
  }

  .om-list {
    box-shadow: none;
    border-bottom: 1px solid @grey-300;
  }
}
