@om-list-action-btn-size: @grid * 8;
@om-list-action-btn-margin: @grid;

.om-list {
  .actions-cell {
    height: 100%;

    display: flex;
    align-items: center;

    .more-btn {
      margin-right: @grid * 2;
      padding: @grid;
      min-width: 0;

      background-color: @color-secondary;
      border-radius: 50%;

      transform: scale(0);

      transition: transform @time @timing-fcn;

      i {
        color: @white;
        .font-icon-lg();
      }

      // Ripple
      span:last-of-type span {
        background-color: @white;
      }
    }
  }
}

.om-list {
  .row:hover {
    .actions-cell {
      .more-btn {
        transform: scale(1);
      }
    }
  }
}
