.om-player {
  .track-info {
    display: flex;
    align-items: flex-end;

    img, .img-placeholder {
      flex: 0 0 (@grid * 8);
      height: @grid * 8;
      margin-right: @grid;
    }

    .img-placeholder { background-color: @white; }

    .info-text {
      flex: 1 1 0;

      .track-name {
        .font-subhead-2();
      }

      .artist-name {
        .font-subhead-1();
      }
    }
  }
}
