.om-playlist-detail {
  .play-all-btn {
    margin-left: @grid * 8;
    
    color: @white;
    background-color: @color-secondary;

    &:hover {
      background-color: @color-secondary-darken;
    }
  }
}
