.om-playlist-detail {
  .back-btn {
    margin-left: @grid * 4;
    margin-top: @grid;

    .mat-btn-colorize(
      @color: @blue-600;
      @colorHover: @blue);

    .inner-btn {
      .font-headline();

      i {
        .font-icon-lg();
      }
    }
  }
}
