.om-player {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 300;

  padding: @grid;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: @grey-700;

  transition: margin-bottom @time @timing-fcn;

  opacity: 0;

  .z-depth(16);

  .bar-center {
    flex: 0 0 40vw;

    .track-controls-wrap {
      display: flex;
      justify-content: space-around;
    }
  }

  .bar-left, .bar-right {
    flex: 1 0 0;
  }
}
