.mat-modal-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity @time @timing-fcn;

  background-color: rgba(0, 0, 0, 0.36);

  pointer-events: none;

  &.open {
    opacity: 1;

    pointer-events: auto;
  }

  .mat-modal {
    position: fixed;
    z-index: 1000;
    top: -70vh;
    left: 15vw;
    width: 70vw;
    height: 70vh;
    opacity: 0;
    transition: top @time @timing-fcn, opacity @time @timing-fcn;

    background-color: @white;
    border-radius: @grid / 2;

    .z-depth(24);

    &.open {
      top: 15vh;
      opacity: 1;
    }
  }
}
