.mat-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.36);
  pointer-events: none;
  transition: opacity @time @timing-fcn;

  display: flex;
  justify-content: space-around;
  align-items: center;

  &.open {
    opacity: 1;
    pointer-events: auto;
  }

  .mat-modal {
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: transform @time @timing-fcn, opacity @time @timing-fcn;

    background-color: @white;
    border-radius: @grid / 2;

    .z-depth(24);

    &.open {
      opacity: 1;
      transform: scale(1);
    }
  }
}
