@om-list-action-btn-size: @grid * 8;
@om-list-action-btn-margin: @grid;

.om-list {
  .actions-cell{
    display: flex;

    .mat-btn {
      margin-left: @om-list-action-btn-margin;

      button {
        width: @om-list-action-btn-size;
        height: @om-list-action-btn-size;
      }

      i { .font-icon-lg(); }
    }

    .mat-btn:first-of-type {
      margin-left: 0;
    }

    .play-btn {
      .mat-icon-btn-raised-colorize(
        @color: @white;
        @colorHover: @grey-200;
        @bgColor: @blue-600;
        @bgColorHover: @blue);
    }

    .add-to-queue-btn {
      .mat-icon-btn-raised-colorize(
        @color: @white;
        @colorHover: @grey-200;
        @bgColor: @green-600;
        @bgColorHover: @green);
    }

    .remove-from-queue-btn {
      .mat-icon-btn-raised-colorize(
        @color: @white;
        @colorHover: @grey-200;
        @bgColor: @red-600;
        @bgColorHover: @red);
    }

    .add-to-playlist-btn {
      .mat-icon-btn-raised-colorize(
        @color: @white;
        @colorHover: @grey-200;
        @bgColor: @orange-600;
        @bgColorHover: @orange);
    }
  }
}
