@import './shared/grid/grid.less';
@import './player_bar/player_bar';

@nav-panel-width: @grid * 26;

.app {
  display: flex;

  .nav-panel-container {
    flex: 0 0 @nav-panel-width;
  }

  .content-container {
    flex: 1 0 0;

    .footer-container {
      height: @player-bar-height + (@player-bar-margin + @player-bar-padding) * 2;
    }
  }
}

// Center player bar.
.player-bar-container {
  display: flex;
  justify-content: space-around;
}
