@import './shared/grid/grid.less';

@nav-panel-width: @grid * 26;

.app {
  display: flex;

  .nav-panel-container {
    flex: 0 0 @nav-panel-width;
  }

  .content-container {
    flex: 1 0 0;

    .footer-container {
      height: @grid * 18;
    }
  }
}
