.app {
  display: flex;
}
.app .nav-panel-container {
  flex: 0 0 208px;
}
.app .content-container {
  flex: 1 0 0;
}
.player-bar-container {
  display: flex;
  justify-content: space-around;
}
.om-nav-panel {
  position: sticky;
  top: 0;
  z-index: 200;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFB74D;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}
.om-nav-panel .nav-btns {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
}
.om-nav-panel .nav-btns .mat-btn {
  margin-bottom: 8px;
}
.om-nav-panel .nav-btns .mat-btn button {
  color: #424242;
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.om-nav-panel .nav-btns .mat-btn button.disabled {
  color: #BDBDBD;
}
.om-nav-panel .nav-btns .mat-btn button:hover:not(.disabled) {
  color: #757575;
}
.om-nav-panel .nav-btns .mat-btn button {
  font-size: 24px;
  font-weight: 300;
  text-transform: inherit;
  font-weight: 400;
}
.om-nav-panel .nav-btns .mat-btn button i {
  font-size: 36px;
}
.om-nav-panel .nav-btns .mat-btn:last-of-type {
  margin-bottom: 0;
}
.om-nav-panel .nav-btns .divider {
  height: 1px;
  width: 100%;
  background-color: #424242;
  margin-bottom: 8px;
}
.om-player {
  position: fixed;
  bottom: 16px;
  z-index: 300;
  width: 800px;
  padding: 8px;
  background-color: #FFB74D;
  border-radius: 4px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}
.om-player .top-bar {
  display: flex;
  align-items: center;
}
.om-player .top-bar .track-info {
  flex: 1 0 0;
}
.om-player .top-bar .track-controls {
  flex: 0 1 0;
}
.om-player .top-bar .volume-controls {
  flex: 1 0 0;
}
.om-player .top-bar .track-info,
.om-player .top-bar .track-controls {
  margin-right: 32px;
}
.om-player .bottom-bar {
  margin-top: 16px;
}
.om-player .track-info {
  display: flex;
  align-items: flex-end;
}
.om-player .track-info img {
  width: 64px;
  height: 64px;
  margin-right: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-player .track-info .track-name {
  font-size: 15px;
  font-weight: 400;
  text-transform: inherit;
}
.om-player .track-info .artist-name {
  font-size: 15px;
  font-weight: 300;
  text-transform: inherit;
}
.om-player .track-controls {
  display: flex;
  align-items: center;
}
.om-player .track-controls .mat-btn {
  margin-right: 8px;
  border-radius: 50%;
}
.om-player .track-controls .mat-btn button {
  color: #2196F3;
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.om-player .track-controls .mat-btn button.disabled {
  color: #BDBDBD;
}
.om-player .track-controls .mat-btn button:hover:not(.disabled) {
  color: #42A5F5;
}
.om-player .track-controls .mat-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-player .track-controls .mat-btn button {
  border-radius: 50%;
}
.om-player .track-controls .mat-btn i {
  font-size: 48px;
}
.om-player .track-controls .mat-btn:last-of-type {
  margin-right: 0;
}
.om-player .volume-controls .controls-container {
  display: flex;
  align-items: center;
  padding-right: 48px;
  padding-left: 32px;
}
.om-player .volume-controls .controls-container .mat-btn {
  border-radius: 50%;
}
.om-player .volume-controls .controls-container .mat-btn button {
  color: #2196F3;
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.om-player .volume-controls .controls-container .mat-btn button.disabled {
  color: #BDBDBD;
}
.om-player .volume-controls .controls-container .mat-btn button:hover:not(.disabled) {
  color: #42A5F5;
}
.om-player .volume-controls .controls-container .mat-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-player .volume-controls .controls-container .mat-btn button {
  border-radius: 50%;
}
.om-player .volume-controls .controls-container .mat-btn button {
  width: 48px;
  height: 48px;
}
.om-player .volume-controls .controls-container .mat-btn i {
  font-size: 24px;
}
.om-player .volume-controls .controls-container .mat-slider {
  flex-grow: 1;
  margin-left: 16px;
}
.om-player .volume-controls .controls-container .mat-slider .bar {
  background-color: #FFFFFF;
}
.om-player .volume-controls .controls-container .mat-slider .handle,
.om-player .volume-controls .controls-container .mat-slider .fill {
  background-color: #2196F3;
}
.om-player .volume-controls .controls-container .mat-slider.disabled .bar {
  background-color: #BDBDBD;
}
.om-player .volume-controls .controls-container .mat-slider.disabled .handle,
.om-player .volume-controls .controls-container .mat-slider.disabled .fill {
  background-color: #757575;
}
.progress-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
.progress-bar .time-label {
  font-size: 15px;
  font-weight: 400;
  text-transform: inherit;
}
.progress-bar .mat-slider {
  flex-grow: 1;
  margin: 0 16px;
}
.progress-bar .mat-slider .bar {
  background-color: #FFFFFF;
}
.progress-bar .mat-slider .handle,
.progress-bar .mat-slider .fill {
  background-color: #2196F3;
}
.progress-bar .mat-slider.disabled .bar {
  background-color: #BDBDBD;
}
.progress-bar .mat-slider.disabled .handle,
.progress-bar .mat-slider.disabled .fill {
  background-color: #757575;
}
.home .title-container {
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
}
.home .title-container span {
  color: #FFA726;
  font-size: 56px;
  font-weight: 300;
  text-transform: inherit;
}
.search .search-form-container {
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
}
.search-form {
  display: flex;
  justify-content: space-around;
  width: 640px;
}
.search-form input {
  flex-grow: 1;
  height: 46px /* account for extra height from border */;
  padding-left: 8px;
  border: 1px solid #E0E0E0;
  border-right: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 400;
  text-transform: inherit;
}
.search-form input:focus {
  border: 1px solid #64B5F6;
  border-right: 0;
}
.search-form .mat-btn {
  border-radius: 50%;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.search-form .mat-btn button {
  color: #FFFFFF;
  background-color: #1E88E5;
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.search-form .mat-btn button.disabled {
  color: #BDBDBD;
  background-color: #BDBDBD;
  box-shadow: none;
}
.search-form .mat-btn button:hover:not(.disabled) {
  color: #EEEEEE;
  background-color: #2196F3;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
}
.search-form .mat-btn button {
  padding: 0;
  justify-content: space-around;
}
.search-form .mat-btn button {
  border-radius: 50%;
}
.search-form .mat-btn button {
  width: 48px;
  height: 48px;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.search-form .mat-btn i {
  font-size: 36px;
}
.queue .now-playing-container {
  padding-top: 16px;
  padding-bottom: 16px;
}
.queue .now-playing .label {
  margin-left: 64px;
  margin-bottom: 16px;
  font-size: 34px;
  font-weight: 300;
  text-transform: inherit;
}
.queue .now-playing .om-list-header {
  border-bottom: 1px solid #E0E0E0;
}
.om-table-layout .om-nav-bar .table-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs {
  margin-left: 32px;
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .tab button {
  color: #1E88E5;
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .tab button.disabled {
  color: #BDBDBD;
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .tab button:hover:not(.disabled) {
  color: #2196F3;
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .tab.selected button {
  color: #FB8C00;
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .tab.selected button.disabled {
  color: #BDBDBD;
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .tab.selected button:hover:not(.disabled) {
  color: #FF9800;
}
.om-table-layout .om-nav-bar .table-controls-container .mat-tabs .underline {
  background-color: #FB8C00;
}
.om-table-layout .om-nav-bar .table-controls-container .display-type-picker {
  margin-right: 32px;
}
.om-table-layout .om-nav-bar .table-controls-container.bordered {
  border-bottom: 1px solid #E0E0E0;
}
.om-table-layout .display-type-picker {
  display: flex;
  align-items: center;
}
.om-table-layout .display-type-picker .mat-btn {
  border-radius: 50%;
}
.om-table-layout .display-type-picker .mat-btn button {
  color: #1976D2;
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.om-table-layout .display-type-picker .mat-btn button.disabled {
  color: #BDBDBD;
}
.om-table-layout .display-type-picker .mat-btn button:hover:not(.disabled) {
  color: #2196F3;
}
.om-table-layout .display-type-picker .mat-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-table-layout .display-type-picker .mat-btn button {
  border-radius: 50%;
}
.om-table-layout .display-type-picker .mat-btn i {
  font-size: 36px;
}
.om-table-layout .display-type-picker .mat-btn.active {
  border-radius: 50%;
}
.om-table-layout .display-type-picker .mat-btn.active button {
  color: #F57C00;
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.om-table-layout .display-type-picker .mat-btn.active button.disabled {
  color: #BDBDBD;
}
.om-table-layout .display-type-picker .mat-btn.active button:hover:not(.disabled) {
  color: #FF9800;
}
.om-table-layout .display-type-picker .mat-btn.active button {
  padding: 0;
  justify-content: space-around;
}
.om-table-layout .display-type-picker .mat-btn.active button {
  border-radius: 50%;
}
.om-nav-bar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: none;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.om-nav-bar.scrolled {
  border-bottom: 0;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}
.om-list {
  padding: 0 32px;
}
.om-list .row {
  padding: 8px;
  font-size: 15px;
  font-weight: 300;
  text-transform: inherit;
}
.om-list .row:nth-of-type(2n) {
  background-color: #F5F5F5;
}
.om-list-header {
  padding: 0 32px;
}
.om-list-header .row {
  padding: 2px 8px;
  font-size: 15px;
  font-weight: 400;
  text-transform: inherit;
}
.om-list .image-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 16px;
}
.om-list .image-cell img {
  width: 64px;
  height: 64px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-list-header .mock-image-cell {
  width: 80px;
}
.om-list .actions-cell {
  display: flex;
}
.om-list .actions-cell .mat-btn {
  margin-left: 8px;
}
.om-list .actions-cell .mat-btn button {
  width: 64px;
  height: 64px;
}
.om-list .actions-cell .mat-btn i {
  font-size: 36px;
}
.om-list .actions-cell .mat-btn:first-of-type {
  margin-left: 0;
}
.om-list .actions-cell .play-btn {
  border-radius: 50%;
}
.om-list .actions-cell .play-btn button {
  color: #FFFFFF;
  background-color: #1E88E5;
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-list .actions-cell .play-btn button.disabled {
  color: #BDBDBD;
  background-color: #BDBDBD;
  box-shadow: none;
}
.om-list .actions-cell .play-btn button:hover:not(.disabled) {
  color: #EEEEEE;
  background-color: #2196F3;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
}
.om-list .actions-cell .play-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-list .actions-cell .play-btn button {
  border-radius: 50%;
}
.om-list .actions-cell .add-to-queue-btn {
  border-radius: 50%;
}
.om-list .actions-cell .add-to-queue-btn button {
  color: #FFFFFF;
  background-color: #43A047;
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-list .actions-cell .add-to-queue-btn button.disabled {
  color: #BDBDBD;
  background-color: #BDBDBD;
  box-shadow: none;
}
.om-list .actions-cell .add-to-queue-btn button:hover:not(.disabled) {
  color: #EEEEEE;
  background-color: #4CAF50;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
}
.om-list .actions-cell .add-to-queue-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-list .actions-cell .add-to-queue-btn button {
  border-radius: 50%;
}
.om-list .actions-cell .remove-from-queue-btn {
  border-radius: 50%;
}
.om-list .actions-cell .remove-from-queue-btn button {
  color: #FFFFFF;
  background-color: #E53935;
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-list .actions-cell .remove-from-queue-btn button.disabled {
  color: #BDBDBD;
  background-color: #BDBDBD;
  box-shadow: none;
}
.om-list .actions-cell .remove-from-queue-btn button:hover:not(.disabled) {
  color: #EEEEEE;
  background-color: #F44336;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
}
.om-list .actions-cell .remove-from-queue-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-list .actions-cell .remove-from-queue-btn button {
  border-radius: 50%;
}
.om-list .actions-cell .add-to-playlist-btn {
  border-radius: 50%;
}
.om-list .actions-cell .add-to-playlist-btn button {
  color: #FFFFFF;
  background-color: #FB8C00;
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-list .actions-cell .add-to-playlist-btn button.disabled {
  color: #BDBDBD;
  background-color: #BDBDBD;
  box-shadow: none;
}
.om-list .actions-cell .add-to-playlist-btn button:hover:not(.disabled) {
  color: #EEEEEE;
  background-color: #FF9800;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
}
.om-list .actions-cell .add-to-playlist-btn button {
  padding: 0;
  justify-content: space-around;
}
.om-list .actions-cell .add-to-playlist-btn button {
  border-radius: 50%;
}
.om-gallery {
  padding: 0 32px;
}
.om-gallery .track-item {
  position: relative;
  padding: 4px;
}
.om-gallery .track-item img {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-gallery .track-item .track-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  width: 70%;
  right: 16px;
  bottom: 20px;
  font-size: 15px;
  font-weight: 300;
  text-transform: inherit;
}
.om-gallery .track-item .track-info .track-name,
.om-gallery .track-item .track-info .artist-name {
  background-color: #FFFFFF;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-gallery .track-item .track-info .track-name {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 400;
  text-transform: inherit;
}
.om-gallery .artist-item {
  position: relative;
  padding: 4px;
}
.om-gallery .artist-item img {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.om-gallery .artist-item .artist-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  width: 70%;
  right: 16px;
  bottom: 20px;
}
.om-gallery .artist-item .artist-info .artist-name {
  background-color: #FFFFFF;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  text-transform: inherit;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.flex-table .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
body {
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.mat-btn {
  display: inline-block;
  border-radius: 2px;
}
.mat-btn button {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.mat-btn button:not(.disabled) {
  cursor: pointer;
}
.mat-chip {
  border-radius: 9999px;
  padding: 4px 16px;
}
.mat-slider {
  position: relative;
  height: 16px;
}
.mat-slider:not(.disabled) {
  cursor: pointer;
}
.mat-slider:not(.disabled) .handle {
  cursor: pointer;
}
.mat-slider .bar,
.mat-slider .fill {
  position: absolute;
  top: 6px;
  height: 4px;
  border-radius: 9999px;
}
.mat-slider .bar {
  width: 100%;
}
.mat-slider .handle {
  position: absolute;
  top: 0;
  left: -8px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
.mat-spinner {
  position: relative;
}
.mat-spinner:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.mat-spinner .circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.mat-spinner .circular .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #2196F3;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
.mat-tabs .tab button {
  width: 192px;
  display: inline-flex;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 300;
  text-transform: inherit;
}
.mat-tabs .underline-container {
  position: relative;
  height: 2px;
}
.mat-tabs .underline-container .underline {
  position: absolute;
  top: 0;
  height: 100%;
  width: 192px;
  transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
html,
body,
input,
div,
button,
form,
span,
audio,
circle,
svg,
i {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: inherit;
}
