.om-nav-panel {
  // always taking up the left side of the screen
  position: sticky;
  top: 0;
  z-index: 200;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: @orange-300;

  .z-depth(16);

  .nav-btns {
    display: flex;
    flex-direction: column;
    padding: (@grid * 4) (@grid * 2);

    .mat-btn-wrap {
      margin-bottom: @grid;
    }

    .mat-btn-wrap:last-of-type {
      margin-bottom: 0;
    }

    .mat-btn {
      color: @grey-800;

      .headline();
      font-weight: 400;

      i {
        .icon-lg();
      }

      &:hover {
        color: @grey-900;
      }
    }

    .divider {
      height: 1px;
      width: 100%;
      background-color: @grey-800;
      margin-bottom: @grid;
    }
  }
}
