.om-nav-panel {
  // always taking up the left side of the screen
  position: sticky;
  top: 0;
  z-index: 200;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: @orange-300;

  .z-depth(16);

  .nav-btns {
    padding: @grid * 2;

    .mat-btn {
      margin-bottom: @grid;

      .mat-btn-colorize(@color: rgba(255, 255, 255, 0.75); @colorHover: @white);

      button {
        .font-headline();
        font-weight: 400; // Make up slightly thicker font.

        i { .font-icon-md(); }
      }
    }

    .mat-btn:last-of-type {
      margin-bottom: 0;
    }

    .home-btn {
      margin-left: @grid * 3 / 2;

      .mat-icon-btn-colorize(@color: @white; @colorHover: @white);

      button {
        width: @grid * 6;
        height: @grid * 6;

        i { .font-icon-lg(); }
      }
    }

    .search-btn {
      width: 100%;

      .mat-ripple {
        width: 100%;

        button {
          width: 100%;
          display: inline-flex;
          justify-content: space-between;
        }
      }
    }

    .divider {
      height: 1px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.75);
      margin-bottom: @grid;
    }
  }
}
