.om-gallery {
  .tile {
    margin: @grid;
    position: relative;

    background-color: @white;

    .z-depth(2);

    img {
      width: 100%;
      height: auto;

      &.bordered { border-bottom: 1px solid @grey-300; }
    }

    .img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 100%; /* 1:1 ratio */

      cursor: pointer;
      background-color: @transparent;
      transition: background-color @time ease-in-out;

      .play-icon-wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        justify-content: space-around;
        align-items: center;

        opacity: 0;

        .play-icon {
          color: @white;
          font-size: 12vw;

          transform: scale(1);
          transition: transform (@time * 1.2) cubic-bezier(0.68, -0.55, 0.265, 1.55);

          &:hover { transform: scale(1.2); }
        }
      }

      .more-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: @grid * 1.5;
        padding: @grid;
        min-width: 0;

        background-color: @color-secondary;
        border-radius: 50%;

        opacity: 0;

        transition: transform @time @timing-fcn;

        i {
          color: @white;

          .font-icon-lg();
        }

        // Ripple
        span:last-of-type span {
          background-color: @white;
        }
      }

      .more-menu {
        position: absolute;
        bottom: @grid * 4.25;
        right: @grid * 4.25;
        padding: @grid 0;

        display: flex;
        flex-direction: column;
        align-items: strech;

        background-color: @white;
        cursor: default;

        transform: scale(0);
        transform-origin: bottom right;
        transition: transform @time @timing-fcn;

        .z-depth(16);

        &.open {
          transform: scale(1);
        }

        .menu-item {
          justify-content: flex-start;
        }
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.45);

        .play-icon-wrap, .more-btn {
          opacity: 1;
        }

        .more-btn {
          transform: scale(1);
        }
      }
    }

    .info {
      margin-top: @grid / -2;
      padding: @grid * 1.5;

      display: flex;
      flex-direction: column;
      align-items: center;

      .title, .subtitle {
        text-align: center;
        background-color: @transparent;

        .font-subhead-1();

        &.link {
          color: @blue-700;
          cursor: pointer;

          &:hover {
            color: @blue;
            text-decoration: underline;
          }
        }
      }

      .title {
        .font-subhead-2();
      }

      .divider {
        height: 1px;
        width: @grid * 4;
        background-color: @grey-300;
        margin: (@grid / 2) 0;
      }
    }
  }
}
