//
// Material Slider Mixins:
//
// ------------------------------------

.mat-slider-colorize(
  @color;
  @colorDisabled: rgba(0,0,0,0);
  @bgColor;
  @bgColorDisabled: @mat-icon-light-disabled) {

  .bar { background-color: @bgColor; }
  .handle, .fill { background-color: @color; }

  &.disabled {
    .bar { background-color: @bgColorDisabled; }
    .handle, .fill { background-color: @colorDisabled; }
  }
}

//
// Private:
//
// ------------------------------------

.mat-slider {
  @handle-height: @grid * 2;
  @bar-height: @grid / 2;

  position: relative;
  height: @handle-height;

  &:not(.disabled) {
    cursor: pointer;
    .handle { cursor: pointer; }
  }

  .bar, .fill {
    position: absolute;
    top: (@handle-height - @bar-height) / 2;;
    height: @bar-height;
    border-radius: 9999px;
  }

  .bar { width: 100%; }

  .handle {
    position: absolute;
    top: 0;
    left: @handle-height / -2;
    height: @handle-height;
    width: @handle-height;
    border-radius: 50%;
  }
}
