.om-nav-bar {
  position: fixed;
  margin-left: @om-nav-panel-width;
  top: 0;
  left: 0;
  right: 0;
  background-color: @white;
  border-bottom: 1px solid @grey-300;

  .z-depth(0);
  z-index: 100;
  transition: box-shadow @time ease-out;

  &.scrolled {
    border-bottom: 0;

    .z-depth(4);
  }
}
