.home {
  .mat-nav-bar {
    background-color: @white;

    .title-container {
      display: flex;
      justify-content: space-around;
      padding-top: @grid * 2;
    }

    .table-options-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .om-tabs {
        margin-left: @grid * 4;
      }

      .table-type-picker {
        margin-right: @grid * 4;
      }
    }

    .list-header-container {
      .om-list-header {
        padding-top: @grid / 2;
        padding-bottom: @grid / 2;
      }
    }
  }
}
