.mat-tabs {
  .tabs-container {
    display: flex;
    align-items: center;

    .tab {
      cursor: pointer;
      padding: (@grid / 2) (@grid * 2);
    }
  }

  .underline-container {
    position: relative;
    height: @grid / 4;

    .underline {
      position: absolute;
      top: 0;
      height: 100%;
      transition: left @time @timing-fcn, width @time @timing-fcn;
    }
  }
}
