.om-list {
  margin: 0 4.5vw;

  @media (max-width: 1400px) {
    margin: 0 3.5vw;
  }

  @media (max-width: 1000px) {
    margin: 0 2.5vw;
  }

  .z-depth(2);

  .row {
    border-bottom: 1px solid @grey-300;
  }
  
  .row:last-of-type {
    border-bottom: 0;
  }
}
