@om-table-padding: 0 (@grid * 4);

.om-list {
  margin: @om-table-padding;
  background: linear-gradient(0deg, @transparent, @white (@grid * 10));

  .row {
    padding: @grid 0;
    border-bottom: 1px solid @grey-300;

    .font-subhead-1();
  }
  
  .row:last-of-type {
    border-bottom: 0;
  }
}

.om-list-header {
  padding: @om-table-padding;

  .row {
    padding: (@grid / 4) 0;

    .font-subhead-2();
  }
}
