@om-table-padding: 0 (@grid * 4);

.om-list {
  margin: @om-table-padding;
  background-color: @white;

  .z-depth(2);

  overflow: hidden;

  .row {
    padding: @grid 0;
    border-bottom: 1px solid @grey-300;
    background-color: @white;

    cursor: pointer;

    transition: background-color @time ease-in-out;

    .font-subhead-1();
  }
  
  .row:last-of-type {
    border-bottom: 0;
  }

  .row:hover {
    background-color: @grey-50;
  }
}

.om-list-header {
  padding: @om-table-padding;

  .row {
    padding: (@grid / 4) 0;

    .font-subhead-2();
  }
}
