@import '../shared/grid.less';
@import '../shared/color.less';

.search-results {
  flex-grow: 1;
}

.row {
  display: flex;
  align-items: center;
  padding: (@grid / 2) @grid;
  border-bottom: 1px solid @grey-lighten-2;
}

.row:last-of-type {
  border-bottom: 0;
}
