.om-table-layout {
  .om-nav-bar {
    .table-controls-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .om-tabs {
        margin-left: @grid * 4;
      }

      .display-type-picker {
        margin-right: @grid * 4;
      }

      &.bordered {
        border-bottom: 1px solid @grey-300;
      }
    }
  }
}
