.om-table-layout {
  .om-nav-bar {
    .table-controls-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .mat-tabs {
        margin-left: @grid * 4;

        .mat-tabs-colorize(
          @color: @blue-600;
          @hoverColor: @blue;
          @activeColor: @orange-600;
          @activeHoverColor: @orange);
      }

      .display-type-picker {
        margin-right: @grid * 4;
      }

      &.bordered {
        border-bottom: 1px solid @grey-300;
      }
    }
  }

  .table-container {
    .player-spacer {
      height: @grid * 24; // Extra room so player does not block table
    }
  }
}
