@import './grid.less';
@import './shadow.less';
@import './transition.less';

.btn(@bg-color, @bg-color-hover, @color, @color-hover) {
  background-color: @bg-color;
  border-radius: @grid / 2;
  color: @color;
  cursor: pointer;
  transition: background-color @time, box-shadow @time;

  .shadow-button();

  &:hover {
    background-color: @bg-color-hover;
    color: @color-hover;
  }
}

.circle-btn(@bg-color, @bg-color-hover, @color, @color-hover) {
  .btn(@bg-color, @bg-color-hover, @color, @color-hover);
  border-radius: 50%;
}
