.om-list {
  padding: 0 (@grid * 8);

  .row {
    padding: @grid;
  }

  .row:nth-of-type(2n) {
    background-color: @grey-lighten-3;
  }
}

.om-list-header {
  padding: 0 (@grid * 8);
  font-weight: bold;
}
