.om-list {
  .image-cell {
    @imgae-size: @grid * 6;
    @margin-right: @grid * 2;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: @margin-right;

    img {
      width: @imgae-size;
      height: @imgae-size;
      border-radius: @grid / 2;
    }
  }
}

.om-list-header {
  .mock-image-cell {
    @imgae-size: @grid * 6;
    @margin-right: @grid * 2;

    width: @imgae-size + @margin-right;
  }
}
